@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variables */
:root {
    /* fonts */
    --font-lato: "Lato", sans-serif;
    /* Colors */
    --bc-primary: #16182B;
    --bc-secondary: #23283C;
    --bc-orange: #FF5E03;
    --c-font-white: #FCFBFA;
    --c-font-gray: #4F5850;
    --c-font-green: #1DB782;
}

