.header {
    width: 100%;
    height: 10rem;
    background-color: var(--bc-primary);
    place-content: center;
    border-bottom: 1px solid #000;
    box-shadow: 0px 6px 20px 0px #000000c7;

    .nav {
        max-width: 1100px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        &__title {
            position: absolute;
            display: block;
            color: var(--bc-orange);
            font-family: var(--font-anton);
            font-size: 4.2rem;
            font-weight: 700;
            letter-spacing: 2px;
            cursor: pointer;
            text-shadow: .5px 1px 1px #ffffff81, 0px 0px 10px #ff5f034f;
        } 

        &__menu {
            position: relative;
            top: 0;
            left: 20rem;
            display: flex;

            & .nav__link {
                display: block;
                width: 12rem;
                height: auto;
                color: var(--c-font-white);
                font-size: 1.6rem;
                text-align: center;
                place-content: center center;
                letter-spacing: 1.18px;
                padding: 1rem;
                transition: color .3s ease-in;

                &:hover {
                    color: var(--bc-orange);
                }
            }
        }

        &__dashboard {
            & .nav__link--cart {
                display: block;
                height: auto;
                color: #F3F3F3;
                font-size: 1.4rem;
                text-align: center;
                place-content: center center;
                letter-spacing: 1.18px;
                padding: 1rem;
                transition: color .3s ease-in;

                &:hover {
                    color: var(--bc-orange);
                }
            }
        }
    }
}

.cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    &__count {
        position: absolute;
        bottom: 2px;
        font-size: 1.1rem;
        font-weight: bold;
        text-shadow: 0px 0px 6px #000000;
    }
}